
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#my-canvas{
    position: fixed;
    top: 0;
}

#card{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bt2{
    z-index: 10000;
}

#resultado{
     transition: 1s; 
     position: absolute;  
     margin-top: 60px; 
     opacity: 0;

}

.display{

    width: 80% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    font-weight: 600; 
    text-align: center;
}

@keyframes sair{

    0%{
        opacity: 0.8;

    }

   
    50%{

        opacity: 1;
         
    }

    90%{

        opacity: 1;

    }

    100%{
        opacity: 0;
    }

}

.move{
    animation: sair 6s  ease;
}